src/shift_register_tb.vhd
par/pulse_generator.qpf
par/pulse_generator.qsf
par/db/pulse_generator.db_info
par/db/pulse_generator.quiproj.12520.rdr.flock
sim/*[!.][!d][!o]
sim/*
sim/!*.do
sim/wlftf8qrdg
par/pulse_generator.qws
par/db/pulse_generator.sld_design_entry.sci
par/c5_pin_model_dump.txt
par/light_organ.qpf
par/light_organ.qsf
par/light_organ.sdc
par/db/.cmp.kpt
par/db/light_organ_partition_pins.json
par/db/light_organ.(0).cnf.cdb
par/db/light_organ.(0).cnf.hdb
par/db/light_organ.(1).cnf.cdb
par/db/light_organ.(1).cnf.hdb
par/db/light_organ.(2).cnf.cdb
par/db/light_organ.(2).cnf.hdb
par/db/light_organ.asm.qmsg
par/db/light_organ.asm.rdb
par/db/light_organ.cbx.xml
par/db/light_organ.cmp_merge.kpt
par/db/light_organ.cmp.bpm
par/db/light_organ.cmp.cdb
par/db/light_organ.cmp.hdb
par/db/light_organ.cmp.idb
par/db/light_organ.cmp.logdb
par/db/light_organ.cmp.rdb
par/db/light_organ.cyclonev_io_sim_cache.ff_0c_fast.hsd
par/db/light_organ.cyclonev_io_sim_cache.ff_85c_fast.hsd
par/db/light_organ.cyclonev_io_sim_cache.ii_0c_slow.hsd
par/db/light_organ.cyclonev_io_sim_cache.ii_85c_slow.hsd
par/db/light_organ.db_info
par/db/light_organ.fit.qmsg
par/db/light_organ.hier_info
par/db/light_organ.hif
par/db/light_organ.lpc.html
par/db/light_organ.lpc.rdb
par/db/light_organ.lpc.txt
par/db/light_organ.map_bb.cdb
par/db/light_organ.map_bb.hdb
par/db/light_organ.map_bb.logdb
par/db/light_organ.map.ammdb
par/db/light_organ.map.bpm
par/db/light_organ.map.cdb
par/db/light_organ.map.hdb
par/db/light_organ.map.kpt
par/db/light_organ.map.logdb
par/db/light_organ.map.qmsg
par/db/light_organ.map.rdb
par/db/light_organ.pplq.rdb
par/db/light_organ.pre_map.hdb
par/db/light_organ.qns
par/db/light_organ.quiproj.7980.rdr.flock
par/db/light_organ.root_partition.map.reg_db.cdb
par/db/light_organ.routing.rdb
par/db/light_organ.rtlv_sg_swap.cdb
par/db/light_organ.rtlv_sg.cdb
par/db/light_organ.rtlv.hdb
par/db/light_organ.sld_design_entry_dsc.sci
par/db/light_organ.sld_design_entry.sci
par/db/light_organ.smart_action.txt
par/db/light_organ.sta_cmp.7_H6_slow_1100mv_85c.tdb
par/db/light_organ.sta.qmsg
par/db/light_organ.sta.rdb
par/db/light_organ.tis_db_list.ddb
par/db/light_organ.tiscmp.fast_1100mv_0c.ddb
par/db/light_organ.tiscmp.fast_1100mv_85c.ddb
par/db/light_organ.tiscmp.fastest_slow_1100mv_0c.ddb
par/db/light_organ.tiscmp.fastest_slow_1100mv_85c.ddb
par/db/light_organ.tiscmp.slow_1100mv_0c.ddb
par/db/light_organ.tiscmp.slow_1100mv_85c.ddb
par/db/light_organ.tmw_info
par/db/light_organ.vpr.ammdb
par/db/prev_cmp_light_organ.qmsg
par/incremental_db/README
par/incremental_db/compiled_partitions/light_organ.db_info
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.ammdb
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.cdb
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.dfp
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.hbdb.cdb
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.hbdb.hdb
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.hbdb.sig
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.hdb
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.logdb
par/incremental_db/compiled_partitions/light_organ.root_partition.cmp.rcfdb
par/incremental_db/compiled_partitions/light_organ.root_partition.map.cdb
par/incremental_db/compiled_partitions/light_organ.root_partition.map.dpi
par/incremental_db/compiled_partitions/light_organ.root_partition.map.hbdb.cdb
par/incremental_db/compiled_partitions/light_organ.root_partition.map.hbdb.hb_info
par/incremental_db/compiled_partitions/light_organ.root_partition.map.hbdb.hdb
par/incremental_db/compiled_partitions/light_organ.root_partition.map.hbdb.sig
par/incremental_db/compiled_partitions/light_organ.root_partition.map.hdb
par/incremental_db/compiled_partitions/light_organ.root_partition.map.kpt
par/incremental_db/compiled_partitions/light_organ.rrp.hdb
par/incremental_db/compiled_partitions/light_organ.rrs.cdb
par/output_files/light_organ.asm.rpt
par/output_files/light_organ.done
par/output_files/light_organ.fit.rpt
par/output_files/light_organ.fit.smsg
par/output_files/light_organ.fit.summary
par/output_files/light_organ.flow.rpt
par/output_files/light_organ.jdi
par/output_files/light_organ.map.rpt
par/output_files/light_organ.map.summary
par/output_files/light_organ.pin
par/output_files/light_organ.sld
par/output_files/light_organ.sof
par/output_files/light_organ.sta.rpt
par/output_files/light_organ.sta.summary
