src/shift_register_tb.vhd
par/pulse_generator.qpf
par/pulse_generator.qsf
par/db/pulse_generator.db_info
par/db/pulse_generator.quiproj.12520.rdr.flock
sim/*[!.][!d][!o]
sim/*
sim/!*.do
sim/wlftf8qrdg
par/pulse_generator.qws
par/db/pulse_generator.sld_design_entry.sci
